.home {
  flex: 4;
  width: min(calc(100% - 200px), 80%);
}

.home .wapperChart {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  padding: 10px;
}

.home .chart {
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
}

.home .chart select {
  visibility: hidden;
}

.homeWidgets {
  display: flex;
  margin: 20px;
}

@media only screen and (max-width: 1000px) {
  .wapperChart {
    flex-direction: column;
  }
}
